<%- include("../partials/user/header") %>
<%- include("../partials/user/right") %>

<style>
    #applied-coupon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }
  
    .applied-coupon-info {
      flex-grow: 1;
    }
  
    #remove-coupon {
      margin-left: 10px;
    }
  </style>  

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
  <div class="breadcrumb-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h3 class="breadcrumb-title">Cart</h3>
                  <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                      <nav aria-label="breadcrumb">
                          <ul>
                              <li><a href="/home">Home</a></li>
                              <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                              <li class="active" aria-current="page">Cart</li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Cart Section:::... -->
<div class="cart-section">
  <!-- Start Cart Table -->
  <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="table_desc">
                      <div class="table_page table-responsive">
                          <table>
                              <!-- Start Cart Table Head -->
                              <thead>
                                  <tr data-product-id="<%= items._id %>">
                                      <th class="product_remove">Delete</th>
                                      <th class="product_thumb">Image</th>
                                      <th class="product_name">Product</th>
                                      <th class="product_price">Price</th>
                                      <th class="product_quantity">Quantity</th>
                                      <th class="product_total">Total</th>
                                  </tr>
                              </thead> <!-- End Cart Table Head -->
                              <tbody>
                                <% items.forEach(item => { %>
                                  <tr data-product-id="<%= item._id %>">
                                    <td class="product_remove">
                                      <a href="#" class="remove-product" data-product-id="<%= item._id %>">
                                        <i class="fa fa-trash-o"></i>
                                      </a>
                                    </td>
                                    <td class="product_thumb">
                                      <a href="/productDetails/<%= item._id %>">
                                        <% if (item.images && item.images.highResolutionPhotos && item.images.highResolutionPhotos.length > 0) { %>
                                          <img src="<%= item.images.highResolutionPhotos[0] %>" alt="<%= item.basicInformation.name %>">
                                        <% } else { %>
                                          <img src="/images/default-product.jpg" alt="Default Product Image">
                                        <% } %>
                                      </a>
                                    </td>
                                    <td class="product_name">
                                      <a href="/productDetails/<%= item._id %>"><%= item.basicInformation.name %></a>
                                    </td>
                                    <td class="product-price">
                                      <% if (item.discountedPrice < item.originalPrice) { %>
                                        <del>₹<%= item.originalPrice.toFixed(2) %></del>
                                        ₹<%= item.discountedPrice.toFixed(2) %>
                                        <span class="discount">(<%= item.discount %>% off)</span>
                                      <% } else { %>
                                        ₹<%= item.originalPrice.toFixed(2) %>
                                      <% } %>
                                    </td>
                                    <td class="product_quantity">
                                      <label>Quantity</label>
                                      <input type="number" class="quantity-input" value="<%= item.quantity %>" min="1" max="<%= item.pricingAndAvailability.stockAvailability %>" data-product-id="<%= item._id %>">
                                    </td>
                                    <td class="product_total">₹<%= (item.discountedPrice * item.quantity).toFixed(2) %></td>
                                  </tr>
                                <% }); %>
                              </tbody>                              
                              
                          </table>
                      </div>
                      <!-- <div class="cart_submit">
                          <button class="btn btn-md btn-golden" type="submit">update cart</button>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div> <!-- End Cart Table -->


<!-- Start Coupon Start -->
<div class="coupon_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
                    <h3>Coupon</h3>
                    <div class="coupon_inner">
                        <p>Enter your coupon code if you have one.</p>
                        <input class="mb-2" id="coupon-input" placeholder="Coupon code" type="text">
                        <button type="button" id="apply-coupon" class="btn btn-md btn-golden">Apply coupon</button>
                        <button type="button" id="view-coupons" class="btn btn-md btn-golden mt-2">View Available Coupons</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                    <h3>Cart Totals</h3>
                    <div class="coupon_inner">
                        <div id="applied-coupon">
                            <div class="applied-coupon-info" id="discount-row" style="display: none;">
                              <p>Applied Coupon: <span id="applied-coupon-code"></span></p>
                              <p>Discount: ₹<span id="applied-coupon-discount"></span></p>
                            </div>
                            <button style="display: none;" type="button" id="remove-coupon" class="btn btn-md btn-golden">Remove Coupon</button>
                          </div>
                      <div class="cart_subtotal">
                          <p>Subtotal</p>
                          <p class="cart_amount">₹<span id="subtotal"><%= subtotal.toFixed(2) %></span></p>
                      </div>
                      <div class="cart_subtotal">
                          <p>Shipping</p>
                          <p class="cart_amount">₹<span id="shipping"><%= shipping.toFixed(2) %></span></p>
                      </div>
                      <div style="display: none;" class="cart_subtotal" id="discount-row">
                          <p>Discount</p>
                          <p class="cart_amount">₹<span id="discount"></span></p>
                      </div>
                      <div class="cart_subtotal">
                          <p>Total</p>
                          <p class="cart_amount total">₹<span id="total"><%= total.toFixed(2) %></span></p>
                      </div>
                      <div class="checkout_btn">
                          <a href="/checkout" class="btn btn-md btn-golden">Proceed to Checkout</a>
                      </div>
                    </div>
                </div>                                  
            </div>              
        </div>
    </div>
</div> <!-- End Coupon Start -->
</div> <!-- ...:::: End Cart Section:::... -->

<script src="javascript/cart.js"></script>
<%- include("../partials/user/footer") %>
